<% layout('layout/boilerplate') %>

<div class="bg-gradient">
	<section id="map" class="navbar-intersection">
		<img src="/images/map.jpg" alt="map" />
	</section>

	<%- include('../partials/flash') %>

	<!-- ============================ -->
	<!-- ==== FEATURED LISTINGS ===== -->
	<!-- ============================ -->

	<section class="featured-listings featured-listings--list-page">
		<div class="listings__title">FEATURED LISTINGS</div>
		<div class="listings__container">
			<div class="card">
				<div class="card__img--container">
					<img src="/images/thumbnail.jpg" class="card__img" alt="" />
				</div>
				<div class="card__container">
					<div class="card__price">123456789</div>
					<div class="card__location">Lorem ipsum dolor sit.</div>
					<div class="card__subtitle">
						<div class="card__bedroom">4 BHK</div>
						<a class="card__cta" href="/show">Details</a>
						<div class="card__area">1200 SQ. FT.</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card__img--container">
					<img src="/images/thumbnail.jpg" class="card__img" alt="" />
				</div>
				<div class="card__container">
					<div class="card__price">123456789</div>
					<div class="card__location">Lorem ipsum dolor sit.</div>
					<div class="card__subtitle">
						<div class="card__bedroom">4 BHK</div>
						<a class="card__cta" href="/show">Details</a>
						<div class="card__area">1200 SQ. FT.</div>
					</div>
				</div>
			</div>

			<div class="card">
				<div class="card__img--container">
					<img src="/images/thumbnail.jpg" class="card__img" alt="" />
				</div>
				<div class="card__container">
					<div class="card__price">123456789</div>
					<div class="card__location">Lorem ipsum dolor sit.</div>
					<div class="card__subtitle">
						<div class="card__bedroom">4 BHK</div>
						<a class="card__cta" href="/show">Details</a>
						<div class="card__area">1200 SQ. FT.</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ============================ -->
	<!-- ======= ALL LISTINGS ======= -->
	<!-- ============================ -->
	<section class="all-listings">
		<div class="all-listings__container">
			<% for( let listing of listings ) { %>
			<div class="card">
				<div class="card__img--container">
					<img src="/images/thumbnail.jpg" class="card__img" alt="" />
				</div>
				<div class="card__container">
					<div class="card__price"><%= listing.price %></div>
					<div class="card__location"><%= listing.location %></div>
					<div class="card__subtitle">
						<div class="card__bedroom"><%= listing.bedroom %> BHK</div>
						<a class="card__cta" href="/listings/<%= listing._id %>">Details</a>
						<div class="card__area"><%= listing.area %> SQ. FT.</div>
					</div>
				</div>
			</div>
			<% } %>
		</div>

		<div class="listings__cta">
			<a href="#">VIEW MORE</a>
		</div>
	</section>
</div>
